#title {
    background-color: #ff4c68;
}
body{
    font-family: "Montserrat";
}

.dimg{

    /* width: 60%; */
    transform: rotate(25deg);
    position: absolute;
    left: 58%;
    width: 20%;
    
   
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    color: white;
    line-height: 1.5;
    font-weight: 900;
    
}

.navbar {
margin-bottom: 4.6rem;


}
.dbtn{
  margin: 2% 3% 5% 0;


}

.nav-link{

    font-size: 1.3rem;
    font-family: "Montserrat";
    font-family: 300;
    
}

.nav-item {
padding: 0 19px;

}
#features{
   
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

h3{
font-family: "Montserrat";
font-weight: bold;


}
.carousel-item{
    padding: 7% 15%;

}
#pricing{

    padding: 100px;
    text-align: center;
}
.price-box{

padding: 3% 2%;

}
.pbtn:hover{
 background-color: #3b3232;

}
.plogo{
width: 15%;
margin: 20px 20px 50px;

}
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3.5%;
}
.timg{
    width: 10%;
    border-radius: 100%;
    margin: 23px;
}
h2{

    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}
p {

color: #8f8f8f;

}
.icon{
   color: #ef8172;
   margin-bottom: 1rem;

}
.icon:hover{
 color: #ff4678;

}
.fbox{
   text-align: center;
   padding: 5% 2%;



}
.container-fluid {
   padding: 6% 15% 7%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.1rem;
  font-weight: bold;
}

#testimonials{
  
    text-align: center;
    background-color: #ef8172;
    color: #fff;

}

@media (max-width: 991px){
   .dimg{
       position: static;
       width: max-content;
       transform: rotate(0);
   }
   #title{
       text-align: center;
   }
}


#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 8% 15%;
}

.cta{
    color: #fff;
    font-family: "Montserrat";

    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.ctabtn{
    margin: 5% 1.2%;
}
#footer {
    padding: 7% 15%;
    text-align: center;

}
.sicon{
    margin: 20px 10px;

}
.sicon:hover{
    color: #ff4678;
}

